<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Customer Relationship Manager</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
        .submit-button{
            border: 1px solid #000000;
            border-radius: 5px;
            padding: 8px;
            font-size: 14px;
            font-weight: bold;
            width: 120px;
            background: #133337;
            text-decoration: none;
            display: inline-block;
            margin-bottom: 15px;
            color: #FFFFFF;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <h1 class="navbar-brand">Customer Relationship Manager</h1>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class="col-lg-6 redirect-button">
            <!-- Your first div content -->
            <a th:href="@{/customers}" class="redirect-button">Back to Main Menu</a>
        </div>
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Update Customer </h1>
            <div class = "card-body">
                <form th:action="@{/customers/{id} (id=${customer.id})}" th:object = "${customer}" method="POST">
                    <div class ="form-group">
                        <label> Customer First Name </label>
                        <input
                                type = "text"
                                name = "firstName"
                                th:field = "*{firstName}"
                                class = "form-control"
                                placeholder="Enter Customer First Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Customer Last Name </label>
                        <input
                                type = "text"
                                name = "lastName"
                                th:field = "*{lastName}"
                                class = "form-control"
                                placeholder="Enter Customer Last Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Customer Email </label>
                        <input
                                type = "text"
                                name = "email"
                                th:field = "*{email}"
                                class = "form-control"
                                placeholder="Enter Customer Email"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Customer Company Name </label>
                        <input
                                type = "text"
                                name = "company"
                                th:field = "*{company}"
                                class = "form-control"
                                placeholder="Enter Customer Company Name"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary submit-button">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>